/* signup page */
.signup-wrap{
    min-height : 95vh;
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.signup-wrap .a{
    width: 45%;
    background: #73bcf3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrap .a img{
    height: 300px;
    width: 300px;
}

.signup-wrap .b{
    width: 55%;
    background: #d4dede;
}
.form-wrap{
    width: 80%;
    margin: 10px auto 0px;
    display: flex;
    flex-direction: column;
}
.form-wrap h2{
    text-align: center;
    font-size: 2em;
    padding: 15px 0px;
}
.form-wrap span{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.form-wrap span a{
    color: #ffae00;
    margin-left: 5px;
    font-weight: bold;
}
#login{
    margin-top: 8em;
}
.name-div{
    display: flex;
    flex-direction: row;
    width: 97%;
    /* width: 410px; */
    justify-content: space-between;
}
#select{
    height: 40px;
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: none;
    outline: none;
}


/* components */
.btn-wrap, .input-wrap{
    height : 100 px;
    width: 100%;
}
.btn-wrap{
    margin-top: 10px;
}
button{
    background-color: #59b1f3;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border:none;
    outline: none;
    color:#fafafa;
    font-weight: bolder;
    font-size: 18px;
}
Input{
    height: 20px;
    width: 95%;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}


